body {
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}

.bg-teal {
  background-color: #009688 !important;
}

.text-teal {
  color: #009688 !important;
}

.resume {
  max-width: 900px;
  border: 8px solid #009688;
  background: #fff;
}

.progress-bar {
  border-radius: 10px;
}

.profile-pic img {
  border: 5px solid #fff;
}

aside {
  min-height: 100%;
}

h5 {
  font-weight: 700;
}

ul li {
  margin-bottom: 0.4rem;
}
