// 1. Змінні (мають бути першими, щоб інші файли могли їх бачити)
@import 'variables';

// 2. Базові стилі (скидання, body)
@import 'base';

// 3. Каркас (лейаут)
@import 'layout';

// 4. Компоненти (елементи, що повторюються)
@import 'components';

// 5. Стилі окремих великих блоків
@import 'left-column';
@import 'right-column';